<% include head %>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#"><%= urn.toUpperCase() %></a>
      </div>
    </div>
  </div>
  <div class='text'>
    <% edition.find('body > div').forEach(function(div) {  %>
      <% var lineNumber = 1 %>
      <section class="<%= div.attr('type') %>">
        <% div.find('p').forEach(function(p) { %>
          <div class="paragraph">
            <% p.find('l').forEach(function(l, i) { %>
              <div class='line'>
                <div class='row'>
                  <div class='span1'><a class='line-number'><%= lineNumber++ %></a></div>
                  <div class='words span5'>
                    <% l.find('annotation').forEach(function(annotation) { -%>
                      <span data-annotation="<%= JSON.stringify(annotation.annotation()) %>"><%= annotation.text() %></span>
                    <% }) -%>
                  </div>
                  <% if (i == 0) { %>
                    <div class="span1"><a class="edit" data-xml="<%= p.xml() %>" data-xpath="<%= p.path() %>">[edit]</a></div>
                  <% } %>
                </div>
              </div>
            <% }) %>
          </div>
        <% }) %>
      </section>
    <% }) %>
  </div>
  <div class='info-pane'>
    <div class="container span5">
      <h4></h4>
      <h5></h5>
      <div class="content">
      </div>
      <form class="edit" method="POST" action="/<%= urn %>">
        <input type="hidden" name="_method" value="patch" />
        <textarea class="input-block-level" rows=20></textarea>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  <div class='well info-well prototype'>
    <h4></h4>
    <h5></h5>
    <div class='content'></div>
  </div>
<% include foot %>
